<!-- Author: Ramiyan Gangatharan, February 24, 2024 -->
<!-- Assignment 2 - Web Development Client Side Scripting -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/style.css">
</head>
    <body>
    <header id="site-header"></header>
    <h1>Events</h1>
    <div id="events-container" class="row">
        <!-- Event cards will be inserted here by JavaScript -->
    </div>
    <div class="text-center mt-4">
        <button id="loadMore" class="btn btn-primary">Load More</button>
    </div>

    <footer id="site-footer"  style="text-align: center; color: white"></footer>
    <script src="../../Scripts/main.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>