<!-- Author: Ramiyan Gangatharan, February 24, 2024 -->
<!-- Assignment 2 - Web Development Client Side Scripting -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fact of the Day!</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/style.css">
</head>
<body>
<header id="site-header"></header>
<h1>Fact of the Day</h1>
<div class="col-md-6 mx-auto text-wrap overflow-auto">
    <p><span id="fact-of-the-day"></span></p>
</div>

<footer id="site-footer"  style="text-align: center; color: white"></footer>
<script src="../../Scripts/main.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>