<!-- Author: Joy Tejada (100883359)
     Date: 2024-02-24
     Note: All pictures are named with the photographer, obtained from unsplash
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/style.css">
</head>
<header id="site-header"></header>
<body>
<!--  Modal help from w3school.com  -->
<main>
    <div id="Header_Blog">
        <h1>Gallery</h1>
    </div>
    <div class="row">
        <div class="column">
            <img height="500" src="../../Images/kelly-sikkkema-unsplash.png" onclick="openModal();currentSlide(1)" class="hover-shadow">
            <img height="500" src="../../Images/jason-goodman-unsplash.png" onclick="openModal();currentSlide(2)" class="hover-shadow">
            <img height="500" src="../../Images/arif-riyanto-unsplash.png" onclick="openModal();currentSlide(3)" class="hover-shadow">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img height="500" src="../../Images/annie-spratt-unsplash.png" onclick="openModal();currentSlide(4)" class="hover-shadow">
            <img height="500" src="../../Images/annie-spratt-unsplash(1).png" onclick="openModal();currentSlide(5)" class="hover-shadow">
            <img height="500" src="../../Images/amelie-mourichon-unsplash.png" onclick="openModal();currentSlide(6)" class="hover-shadow">
        </div>
    </div>
    <div class="row">
        <div>
            <img height="500" src="../../Images/alex-kotliarskyi-unsplash.png" onclick="openModal();currentSlide(7)" class="hover-shadow">
        </div>
    </div>

    <!-- The Modal/Lightbox -->
    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 7</div>
                <img src="../../Images/kelly-sikkkema-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 7</div>
                <img src="../../Images/jason-goodman-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 7</div>
                <img src="../../Images/arif-riyanto-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 7</div>
                <img src="../../Images/annie-spratt-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 7</div>
                <img src="../../Images/annie-spratt-unsplash(1).png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 7</div>
                <img src="../../Images/amelie-mourichon-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">7 / 7</div>
                <img src="../../Images/alex-kotliarskyi-unsplash.png" style="width:100%">
            </div>

            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
</main>

<footer id="site-footer"  style="text-align: center; color: white"></footer>

<script src="../../Scripts/main.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>