<!-- Author: Ramiyan Gangatharan, February 24, 2024 -->
<!-- Assignment 2 - Web Development Client Side Scripting -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/style.css">
</head>
<body>
<header id="site-header"></header>
<main class="container" id="mainContent">
    <div>
        <div>
            <div class="login" id="contentArea">
                <h1 class="display-4">Login</h1>
                <div id="messageArea"></div>
                <form id="loginForm" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                              <span class="input-group-addon">
                                <i class="fa fa-user" style="margin-right: 10px">
                                </i>
                              </span>
                            <label for="username">
                            </label>
                            <input type="text" class="form-control" id="username" name="username" required
                                   value="" placeholder="Enter your username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                              <span class="input-group-addon">
                                <i class="fa fa-lock" style="margin-right: 10px">
                                </i>
                              </span>
                            <label for="password">
                            </label>
                            <input type="password" class="form-control" id="password" name="password" required
                                   value="" placeholder="Enter your password">
                        </div>
                    </div>
                    <div  style="margin-left: 70px" class="text-right">
                        <button id="submitButton" type="button" class="btn btn-primary btn-lg">Login</button>
                        <button id="cancelButton" type="button" class="btn btn-warning">cancel</button>
                    </div>
                </form>
                <p class="text-center text-muted small">
                    <b style="color: white">Don't have an account?
                        <a href="register.html" style="color: white">Register Here!</a></b>
                </p>
            </div>
        </div>
    </div>
</main>

<footer id="site-footer"  style="text-align: center; color: white"></footer>
<script src="../../Scripts/namespace.js"></script>
<script src="../../Scripts/user.js"></script>
<script src="../../Scripts/main.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>