<!-- Author: Ramiyan Gangatharan, February 24, 2024 -->
<!-- Assignment 2 - Web Development Client Side Scripting -->

<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="../../../index.html" style="margin-left: 25px; font-style: italic;"><b>Harmony
        Hub</b></a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../../../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/services.html">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/team.html">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/blog.html">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/events.html">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/event-planning.html">Event Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/fact.html">Fact API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/statistics.html">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../../server/views/content/login.html" id="loginStatus">Login</a>
            </li>
        </ul>
    </div>
</nav>