body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    color: white;
}

h1, h2
{
    text-align: center;
}

.btn-primary, p
{
    margin-left: 20px;
}

.navbar
{
    margin-left: 25px;
}