body
{
    background-color: slategrey;
    font-family: 'Fira Code', monospace;
}

h1, #Header_1
{
    text-align: center;
    color: white;
}

#Header_1 h1,
main h2
{
    text-align: center;
}

main div
{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for paragraphs and lists within the main content area */
main p, main ul
{
    max-width: 800px;
    width: 100%;
}

.justified-text p,
.justified-text ul,
.justified-text ol
{
    text-align: justify;
}

.card
{
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-header
{
    background-color: #fff;
    padding: 0.75rem 1.25rem;
    border-bottom: none;
}

.card:hover
{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.btn-link
{
    font-size: 1.25rem;
    color: #007bff;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.btn-link:hover
{
    color: #0056b3;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}

/* Carousel Specific Styles */
.carousel
{
    display: block; /* Ensures the carousel is a block-level element */
    margin-top: 20px; /* Adjust as needed for spacing */
    margin-left: auto; /* Automatically adjusts the left margin */
    margin-right: auto; /* Automatically adjusts the right margin */
    max-width: 90%; /* Prevents the carousel from becoming too wide */
}

.carousel-container
{
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures the container spans the full width of its parent */
}

.carousel-caption
{
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    bottom: 10%; /* Position from the bottom of the carousel item */
}

.carousel-descriptions
{
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

.description
{
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}


.description:first-child
{
    display: block;
}

.carousel-inner img
{
    width: 100%; /* Ensure images fill the carousel */
    height: auto; /* Maintain aspect ratio */
}

.carousel-control-prev, .carousel-control-next
{
    filter: invert(100%);
}

.carousel-indicators li
{
    background-color: white;
}

.welcome-text
{
    position: relative;
    margin-top: 20px;
    color: white;
    text-align: center;
}

/* Services Page */
#servicesAccordion .card
{
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#servicesAccordion .card .card-header
{
    padding: 0.75rem 1.25rem; /* Adjust padding as needed */
    background-color: #f8f9fa; /* Light grey background */
    border-bottom: 1px solid #e3e6f0;
}

#servicesAccordion .card .card-body
{
    padding: 1rem;
}

#servicesAccordion .collapse.show
{
    max-height: none; /* Ensures the content determines the height */
    max-width: 100%;
}
#servicesAccordion .collapse
{
    transition: max-height 2s ease; /* Smooth transition for expanding and collapsing */
}