:root {
    --dark-bg-color: #333;
    --primary-color: #007bff;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Flexibly expands the content to push the footer down */
}


body {
    background-color: slategrey;
    font-family: 'Fira Code', monospace;
}

h1, #Header_1 {
    text-align: center;
    color: white;
}

.center {
    padding-right: 70px;
}

#Header_1 h1,
main h2 {
    text-align: center;
}

main div {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for paragraphs and lists within the main content area */
main p, main ul {
    max-width: 800px;
    width: 100%;
}

.justified-text p,
.justified-text ul,
.justified-text ol {
    text-align: justify;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-header {
    background-color: #fff;
    padding: 0.75rem 1.25rem;
    border-bottom: none;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-link {
    font-size: 1.25rem;
    color: #007bff;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.btn-link:hover {
    color: #0056b3;
}

footer {
    background-color: var(--dark-bg-color);
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: inherit; /* Make sure links inherit the white color */
    margin: 0 10px;
    text-decoration: none;
}

/* Responsive footer layout */
@media (max-width: 768px) {
    footer div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}


/* Carousel Specific Styles */
.carousel-container {
    position: relative; /* This will be the reference for absolutely positioned children */
    width: 800px; /* Adjust to the width of your images or desired width */
    height: 450px; /* Adjust to the height of your images or desired height */
    margin: 20px auto; /* Center the container */
    overflow: hidden; /* Prevent images from overflowing the container */
}

.carousel-images img {
    position: absolute; /* Absolutely position images to stack them */
    top: 0;
    left: 0;
    width: 100%; /* Images will stretch to the container width */
    height: auto; /* Images will maintain their aspect ratio */
    display: none; /* Hide images by default */
}

/* This will ensure the first image and description are displayed initially */
.carousel-images img:first-child,
.carousel-descriptions .description:first-child {
    display: block;
}

.carousel-descriptions {
    position: absolute; /* Position the descriptions over the images */
    bottom: 10%; /* Position from the bottom of the carousel container */
    left: 50%;
    transform: translateX(-50%); /* Center the descriptions */
    width: 100%; /* Match the width of the carousel container */
    display: none; /* Hide descriptions by default */
}

.description {
    display: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}


.description:first-child {
    display: block;
}

.carousel-inner img {
    width: 100%; /* Ensure images fill the carousel */
    height: auto; /* Maintain aspect ratio */
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: white;
}

.welcome-text {
    position: relative;
    margin-top: 20px;
    color: white;
    text-align: center;
}

/* Services Page */
#servicesAccordion .card {
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#servicesAccordion .card .card-header {
    padding: 0.75rem 1.25rem; /* Adjust padding as needed */
    background-color: #f8f9fa; /* Light grey background */
    border-bottom: 1px solid #e3e6f0;
}

#servicesAccordion .card .card-body {
    padding: 1rem;
}

#servicesAccordion .collapse.show {
    max-height: none; /* Ensures the content determines the height */
    max-width: 100%;
}

#servicesAccordion .collapse {
    transition: max-height 2s ease; /* Smooth transition for expanding and collapsing */
}

#events-container {
    max-width: 1200px; /* Adjust to match your nav bar width */
    margin: auto; /* Center the container */
}

#events-container .card {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Keep the height auto to maintain aspect ratio */
}

#events-container .card-img-top {
    width: 100%; /* Make image responsive */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Crop to cover area */
}

/* Add media queries to handle responsiveness */
@media (max-width: 768px) {
    #events-container .col-md-4 {
        max-width: 50%; /* Each event takes up half the container width on smaller screens */
    }
}


/*Gallery Modal*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: slategrey
}

/* Modal content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Search Bar*/
#search {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid slategray;
    margin-bottom: 12px;
}

#ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ul li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#ul li a:hover:not(.header) {
    background-color: #eee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-bg-color); /* Use CSS Variables for colors */
    padding: 0 25px;
}

.navbar-brand {
    font-style: italic;
    font-weight: bold;
}

/* Responsive navigation menu */
@media (max-width: 768px) {
    .navbar-collapse {
        flex-direction: column;
    }
}

header {
    transition: height 0.3s ease; /* Smooth transition for header height */
}

/* Example media query for smaller screens */
@media (max-width: 768px) {
    header {
        height: auto; /* Adjust based on content */
    }

    .navbar-collapse {
        display: none; /* Initially hide the menu */
    }

    .navbar-collapse.show {
        display: block; /* Show menu when toggled */
    }
}
