<!-- Author: Ramiyan Gangatharan, February 24, 2024 -->
<!-- Assignment 2 - Web Development Client Side Scripting -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">
</head>
<body>
<header id="site-header"></header>
<h1>Events</h1>
<div class="row" id="events-container">
    <!-- Event cards will be inserted here by JavaScript -->
</div>
<div class="text-center mt-4">
    <button class="btn btn-primary" id="loadMore">Load More</button>
</div>

<footer id="site-footer" style="text-align: center; color: white"></footer>
<script src="../../../client/scripts/main.js"></script>
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>