<!-- Author: Joy Tejada (100883359)
     Date: 2024-02-24
     Note: All pictures are named with the photographer, obtained from unsplash
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">
</head>
<header id="site-header"></header>
<body class="d-flex flex-column min-vh-100">
<!--  Modal help from w3school.com  -->
<main class="flex-fill">
    <div id="Header_Blog">
        <h1>Gallery</h1>
    </div>
    <div class="row">
        <div class="column">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(1)"
                 src="../../../client/Images/kelly-sikkkema-unsplash.png">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(2)"
                 src="../../../client/Images/jason-goodman-unsplash.png">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(3)"
                 src="../../../client/Images/arif-riyanto-unsplash.png">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(4)"
                 src="../../../client/Images/annie-spratt-unsplash.png">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(5)"
                 src="../../../client/Images/annie-spratt-unsplash(1).png">
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(6)"
                 src="../../../client/Images/amelie-mourichon-unsplash.png">
        </div>
    </div>
    <div class="row">
        <div>
            <img class="hover-shadow" height="500" onclick="openModal();currentSlide(7)"
                 src="../../../client/Images/alex-kotliarskyi-unsplash.png">
        </div>
    </div>

    <!-- The Modal/Lightbox -->
    <div class="modal" id="myModal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 7</div>
                <img src="../../../client/Images/kelly-sikkkema-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 7</div>
                <img src="../../../client/Images/jason-goodman-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 7</div>
                <img src="../../../client/Images/arif-riyanto-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 7</div>
                <img src="../../../client/Images/annie-spratt-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 7</div>
                <img src="../../../client/Images/annie-spratt-unsplash(1).png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 7</div>
                <img src="../../../client/Images/amelie-mourichon-unsplash.png" style="width:100%">
            </div>
            <div class="mySlides">
                <div class="numbertext">7 / 7</div>
                <img src="../../../client/Images/alex-kotliarskyi-unsplash.png" style="width:100%">
            </div>

            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
</main>

<footer id="site-footer" style="text-align: center; color: white"></footer>

<script src="../../../client/scripts/main.js"></script>
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>