<div class="welcome-text">
    <h1 id="name">Welcome to The Harmony Hub</h1>
    <p style="text-align: center">Discover, Learn, and Connect with Your Community</p>
</div>

<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-images">
            <img alt="Community Event" height="450" src="Images/community-events-ideas.jpg" width="800">
            <img alt="Workshop" height="450" src="Images/CVPRW2023_EventVision_group_picture.jpg" width="800">
            <img alt="Group Activity" height="450" src="Images/PWC_OFFICE.webp" width="800">
            <img alt="Networking" height="450" src="Images/networking.jpg" width="800">
            <img alt="Campus" height="450" src="Images/cup-team-photo-2023-2.png" width="800">
        </div>
        <!-- Separate Container for Descriptions -->
        <div class="carousel-descriptions">
            <div class="description" style="display: block;">
                <p class="text-md-center">
                    Join the Harmony Hub community for our vibrant outdoor <br>
                    tailgate parties! Enjoy great food, lively conversations, <br>
                    and a chance to bond over shared interests.
                </p>
            </div>
            <div class="description">
                <p class="text-md-center">
                    Meet our dedicated team at Harmony Hub! A diverse group <br>
                    of passionate individuals committed to fostering learning, <br>
                    innovation, and community spirit.
                </p>
            </div>
            <div class="description">
                <p class="text-md-center">
                    Collaborate on community-driven projects at Harmony Hub, <br>
                    where we strategize to innovate and enhance our services <br>
                    for all age groups and backgrounds.
                </p>

            </div>
            <div class="description">
                <p class="text-md-center">
                    Expand your professional and social horizons at Harmony <br>
                    Hub's networking events, where members connect, collaborate, <br>
                    and create lasting relationships.
                </p>
            </div>
            <div class="description">
                <p class="text-md-center">
                    Meet our Harmony Hub family! This group photo captures the heart <br>
                    of our community: a diverse team of educators, volunteers, and <br>
                    staff who are the driving force behind our enriching workshops, <br>
                    classes, and events. Each member brings their unique talents <br>
                    and perspectives, contributing to a shared mission of lifelong <br>
                    learning and community engagement.
                </p>
            </div>
        </div>
    </div>
</div>