<!-- Author: Ramiyan Gangatharan, January 27, 2024 -->
<!-- Assignment 1 - Web Development Client Side Scripting -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Harmony Hub - Privacy Policy</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header id="site-header"></header>
<main class="flex-fill">
    <section class="text-center mb-5">
        <h1>Privacy Policy</h1>
        <p class="fst-italic">Effective Date: January 27, 2024</p>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Introduction</h2>
            <p> Welcome to Harmony Hub. Your privacy is paramount to us. This Privacy Policy outlines our practices
                concerning the collection, use, and sharing of your personal information. We are fully compliant with
                the Personal Information Protection and Electronic Documents Act (PIPEDA) and other relevant laws. </p>
        </div>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Collection of Personal Information</h2>
            <p>We gather personal information in the following ways:</p>
            <ul>
                <li>When you register for an account on our website.</li>
                <li>If you participate in our community activities and events.</li>
                <li>When you reach out to us for support or inquiries.</li>
            </ul>
        </div>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Use of Personal Information</h2>
            <p>We use the information collected for several purposes:</p>
            <ul>
                <li>To provide a personalized experience on our site.</li>
                <li>To continually improve our website offerings and services.</li>
                <li>To communicate with you effectively, particularly in response to your questions and feedback.</li>
            </ul>
        </div>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Sharing of Personal Information</h2>
            <p>Your privacy is critical to us. We do not sell, trade, or rent your personal information to others. We
                may, however, share non-personally identifiable information with partners or advertisers purely for
                analytics and targeted advertising purposes.</p>
        </div>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Security of Personal Information</h2>
            <p>We take stringent security measures to protect your information from unauthorized access or disclosure.
                Despite this, the inherent nature of the internet means that absolute security cannot be guaranteed, and
                we advise vigilance on all online activities.</p>
        </div>
    </section>
    <section class="mb-4">
        <div class="justified-text">
            <h2>Changes to This Privacy Policy</h2>
            <p>We may periodically update this policy to reflect new practices or regulatory changes. We will post any
                changes on this page and encourage you to review our policy occasionally to stay informed.</p>
        </div>
    </section>
    <section class="mb-5">
        <div class="justified-text">
            <h2>Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please get in touch:</p>
            <ul>
                <li style="color: black;">Email: <a class="link-dark" href="mailto:ramiyan.gangatharan@dcmail.ca">ramiyan.gangatharan@dcmail.ca</a>
                </li>
                <li class="link-dark">Visit our <a class="link-dark" href="contact.html">Contact Page</a>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer id="site-footer" style="text-align: center; color: white"></footer>
<script src="../../../client/scripts/main.js"></script>
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>