<!--
Author: Joy Tejada (100883359)
Date: 2024-02-24
File Name: register.html
Description: Form for new users to register for an account
-->

<!DOCTYPE html>
<html lang="en">
<!-- Title and Style Sheet -->
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Header and Nav Bar -->
<header id="site-header"></header>
<!-- Main -->
<main class="flex-fill">
    <div id="Header_1">
        <h1>Register</h1>
        <div class="row justify-content-lg-center g-3">
        </div>
        <br>
    </div>
    <div id="messageArea"></div>
    <div>
        <!-- Form -->
        <form>
            <div class="input-group mb-3">
                <input class="form-control" id="firstName" name="firstName" placeholder="First Name" required
                       type="text" value="">
                <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" required
                       type="text" value="">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="username" name="username" placeholder="Username" required
                       type="text" value="">
                <input class="form-control" id="address" name="address" placeholder="Address" required
                       type="text" value="">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" required
                       type="email" value="">
                <input class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required
                       type="text" value="">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="password" name="password" placeholder="Password" required
                       type="password" value="">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                       required
                       type="password" value="">
            </div>
            <!-- Button -->
            <div>
                <button class="btn btn-primary" id="sendButton" type="button"> Register</button>
            </div>
        </form>
        <p class="text-center text-muted small">
            <b style="color: white">Already have an account?
                <a href="login.html" style="color: white">Sign in</a></b>
        </p>
    </div>
</main>

<footer id="site-footer" style="text-align: center; color: white"></footer>
<script src="../../../client/scripts/namespace.ts"></script>
<script src="../../../client/scripts/user.js"></script>
<script src="../../../client/scripts/main.js"></script>
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>