<!-- Author: Ramiyan Gangatharan, January 27, 2024 -->
<!-- Assignment 1 - Web Development Client Side Scripting -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmony Hub - Our Services</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header id="site-header"></header>
<main class="flex-fill">
    <h1 class="text-center mb-4">Our Services</h1>
    <div id="servicesAccordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="false" class="btn btn-link collapsed"
                            data-target="#collapseOne"
                            data-toggle="collapse" type="button">
                        Peer Tutoring - Programming
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#servicesAccordion" id="collapseOne">
                <div class="card-body">
                    We peer tutor for Object-Oriented Programming.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                            data-target="#collapseTwo"
                            data-toggle="collapse" type="button">
                        Web Design
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#servicesAccordion" id="collapseTwo">
                <div class="card-body">
                    We can design beautiful websites for you using <br>
                    various CSS frameworks.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed"
                            data-target="#collapseThree"
                            data-toggle="collapse" type="button">
                        Peer Tutoring - Database Development
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#servicesAccordion" id="collapseThree">
                <div class="card-body">
                    With our extensive knowledge in database design <br>
                    and implementation, I can assist others in creating <br>
                    functional databases and plans for such databases.
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button aria-controls="collapseFour" aria-expanded="false" class="btn btn-link collapsed"
                            data-target="#collapseFour"
                            data-toggle="collapse" type="button">
                        Contract C# .NET application development
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingFour" class="collapse" data-parent="#servicesAccordion" id="collapseFour">
                <div class="card-body">
                    With our passion for app development on the <br>
                    Windows operating system as well as our new <br>
                    found interest in the .NET framework, we have <br>
                    the ability to create extensive applications <br>
                    for your needs.
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="site-footer" style="text-align: center; color: white"></footer>
<script src="../../../client/scripts/main.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>