<!-- Author: Joy Tejada (100883359)
     Date: 2024-02-24
     Note: All pictures are named with the photographer, obtained from unsplash
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../../client/content/style.css" rel="stylesheet">

</head>
<header id="site-header"></header>
<body class="d-flex flex-column min-vh-100">
<!--  Modal help from w3school.com  -->
<main class="flex-fill">
    <div id="Header_Blog">
        <h1>Statistics</h1>
    </div>
    <!--Where the Chart is going to be placed-->
    <canvas id="pie-chart" style="width:100%;max-width:700px"></canvas>
</main>

<footer id="site-footer" style="text-align: center; color: white"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="../../../client/scripts/main.js"></script>
<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>